* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 30px 20px;
  background-color: purple;
  display: flex;
  justify-content: flex-end;
}

.h-box {
  width: 100%;
  height: 70px;
  flex-basis: 140px;
  background-color: pink;
  margin: 0 10px;
}

header > :first-child {
  margin-right: auto;
}

main {
  display: flex;
  justify-content: center;
}
.main-left {
  background-color: palegreen;
  width: 300px;
}

.main-right {
  background-color: limegreen;
  padding: 20px;
  max-width: 700px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.m-box {
  background-color: gold;
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
}

footer {
  padding: 20px;
  background-color: #52a1ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer > .f-box {
  background-color: #b6e7ff;
  width: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;

}

/*.footer {*/
/*  background-color: #52a1ff;*/
/*  padding: 20px;*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  justify-content: center;*/
/*}*/
/*.footer > div {*/
/*  background-color: #b6e7ff;*/
/*  width: 45%;*/
/*  max-width: 600px;*/
/*  height: 40px;*/
/*  margin: 10px;*/
/*}*/